extends layout 
block content 
  div(class="authorsContainer")
    if data == null 
      h1(style="text-align: center;color: #000000") No Authors
    else
      each item in data
          div(class="authorList")
            h2= item.name
            div(class="textWithBagde")
              if item.bookCount > 1
                span(class="badge")= `${item.bookCount} books`
              else            
                span(class="badge")= `${item.bookCount} book`