extends layout 
block content
  div(class="container")
    h4 simple application that perform crud(CREATE READ UPDATE DELETE) operation. <br> you can add, view, update and delete book with this application.

    h5 build using HTML, CSS, JAVASCRIPT, PUGJS, EXPRESS.JS, NODE.JS