nav(class="navbar")
  a(class="logo", href="/") 
    h1 Library
  h4(class="menu") menu
  ul(class="nav-links")
    li
      a(href="/addBook", class="link-btn") Add
    li
      a(href="/delete", class="link-btn") Delete
    li
      a(href="/books", class="link-btn") Books
    li
      a(href="/authors", class="link-btn") Authors